/* scrollbar */
.info-list {
  max-height: 580px;
  overflow-y: auto;

}

.info-list::-webkit-scrollbar {
  width: 8px;
}

.info-list::-webkit-scrollbar-thumb {
  background: #D13200;
  border-radius: 10px;
}

.info-list::-webkit-scrollbar-track {
  background: rgba(240, 150, 125, 0.50);
  border-radius: 10px;
}

.info-list::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 1, 1);
}