/* scrollbar */
.info-list {
  max-height: 570px;
  overflow-y: auto;
}

.info-list::-webkit-scrollbar {
  width: 8px;
}

.info-list::-webkit-scrollbar-thumb {
  background: #D13200;
  border-radius: 10px;
}

.info-list::-webkit-scrollbar-track {
  background: rgba(240, 150, 125, 0.50);
  border-radius: 10px;
}

.info-list::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 1, 1);
}

.prose :where(ol > li):not(:where([class~="not-prose"], [class~="not-prose"] *))::marker {
  color: #D13200;
}

.prose :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *))::marker {
  color: #D13200;
}


/* ul:has(.new-style-child) {
  list-style: none;
} */

.new-style {
  list-style: none;
}

.new-style li::before {
  content: "※";
  color: #D13200;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.sub-title {
  font-weight: 700;
  font-size: 20px;

}